main {
  min-height: 80vh;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

/* ----------REUSABLE--------- */

.remove-decoration {
  text-decoration: none;
}

/* -------LATEST PRODUCT------ */

.card-title-anchor-adjustment {
  text-decoration: none;
  font-size: 95%;
}

.rating {
  font-size: 85%;
}

/*-----------PAYMENT ADJUSTMENT------------*/
/* .form-check .form-check-input {
  margin-left: -1em;
  margin-right: 0.7em;
} */
